<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Crop Advisor</title>
	<link href='https://fonts.googleapis.com/css?family=Albert Sans' rel='stylesheet'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<h1>Crop Advisor</h1>
		<nav>
			<a href="index.html" >Home</a>
			<a href="crop.html">Crop</a>
			<a href="fertilizer.html" class = "active">Fertilizer</a>
		</nav>
	</header>
		<section class = "right">
			<h2>Fertilizer Recommender</h2>
			<div class="form">
				<strong>Fill the following :</strong>
				<form method="post" action="/predict_crop">
					<label for="N">Nitrogen</label>
					<input type="number" name="N" placeholder="Ex: 12-10 ">
					<label for="K">Potassium</label>
					<input type="number" name="K">
					<label for="P">Phosporous</label>
					<input type="number" name="P">
					<label for="ph">pH</label>
					<input type="number" name="ph">
					<label for="rainfall">RainFall</label>
					<input type="number" name="rainfall">
					<input type="submit" value="Predict">
				</form>
			</div>
		</section>
	</main>
</body>
</html>